<div id="container" [class.isMobile]="isMobile">
  <div id="page-title">
    Simple ERC20 Explorer
  </div>
    <div id="sub-title" *ngIf="!isMobile">Powered by <a href="https://etherscan.io/" target="_blank">Etherscan API</a></div>
  <div id="search-bar">
    <form>
      <mat-form-field class="input-form" >
        <mat-placeholder>Token Address</mat-placeholder>
        <input matInput type="search" value="address" name="address" [(ngModel)]="address">
        <button mat-button matSuffix mat-stroked-button aria-label="search"
                id="search-button"
                (click)="search(address); auditTrail = [];"
                [disabled]="!address || isLoading">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div id="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div id="table-container" [hidden]="isLoading">

    <mat-form-field id="filter" *ngIf="tokens.length > 0">
      <mat-label>Filter by Token</mat-label>
      <mat-select (selectionChange)="setTransactions($event)" [(ngModel)]="selectedToken">
        <mat-option *ngFor="let token of tokens" [value]="token">
          {{token}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card id="summary" *ngIf="searchedAddress">
      <div *ngIf="searchedAddress"><b>Searched Address:</b> {{searchedAddress}}</div>
      <div *ngIf="selectedToken"><b>{{selectedToken}} Total:</b> {{tokenTotal}}</div>
    </mat-card>

    <mat-card *ngIf="auditTrail.length > 1 && showAuditTrail" id="audit-trail">
      <div><b>Audit Trail: </b>
        <ng-container *ngFor="let audit of auditTrail; last as isLast">
          <span class="hyperlink" (click)="search(audit)">{{audit}}</span>
          <span *ngIf="!isLast"> >> </span>
        </ng-container>
      </div>
    </mat-card>

    <div [hidden]="transactions?.length === 0" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let i = index;"> {{(i+1) + (paginator.pageIndex*paginator.pageSize)}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.tokenSymbol}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let transaction">{{transaction.date}}
            <ng-container *ngIf="isMobile"><br></ng-container>
            <ng-container *ngIf="!isMobile">&middot; </ng-container>{{transaction.time}}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let transaction" class="colored"> {{transaction.formattedValue}} </td>
        </ng-container>

        <ng-container matColumnDef="toFrom">
          <th mat-header-cell *matHeaderCellDef class="squeeze">
            <ng-container *ngIf="isMobile">Address</ng-container>
            <ng-container *ngIf="!isMobile">Origin or Destination Address </ng-container></th>
          <td mat-cell *matCellDef="let transaction" class="hyperlink squeeze"
              (click)="search(transaction.address)">
            <ng-container *ngIf="isMobile">{{transaction.shortAddress}}</ng-container>
            <ng-container *ngIf="!isMobile">{{transaction.midAddress}}</ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
            [class.debit]="row.isDebit" [class.credit]="!row.isDebit"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>

    <info id="info" *ngIf="isShowingHelp" [isMobile]="isMobile" (search)="search($event)"></info>
  </div>
  <app-footer [isShowingHelp]="isShowingHelp" [isMobile]="isMobile" (showHelp)="showHelp()"></app-footer>
</div>
