<h1 mat-dialog-title>{{title}}</h1>
<div class="error" mat-dialog-content>
  {{data.error}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()" cdkFocusInitial>Okay</button>
  <button mat-button *ngIf="data.timeout" [mat-dialog-close]="{'showHelp': true}">Example addresses</button>
</div>
