<div id="footer-container" [class.isMobile]="isMobile">
  <a href="https://gitlab.com/emclaug2/simple-ethereum-explorer" target="_blank" class="hyperlink">Gitlab</a>
  <div *ngIf="!isShowingHelp" class="hyperlink marginLeft" (click)="showHelp.emit()">About</div>
</div>
