<div id="information" [class.isMobile]="isMobile">
  <p id="top">Enter in an ERC20 address to view historic token deposits and withdrawals on the Ethereum blockchain.
     Below are some example token holder addresses which should quickly return data:</p>
  <br>
  <div class="example">
    <span class="origin">&bull; Binance Token holder address</span><br>
    <span class='hyperlink' (click)="select('0xae6f5ef778b96c8e436dddde549beccd6280a91d')">
          0xae6f5ef778b96c8e436dddde549beccd6280a91d</span>
  </div>
  <div class="example">
    <span class="origin">&bull; Blockport Token holder address</span><br>
    <span class='hyperlink' (click)="select('0x240f6fcbc698c8d66eb1ec9cf6b65c378f68e3a2')">
          0x240f6fcbc698c8d66eb1ec9cf6b65c378f68e3a2</span>
  </div>
  <div class="example">
    <span class="origin">&bull; Covesting holder address</span><br>
    <span class='hyperlink' (click)="select('0xf61546ee65c5c39253af809b69197693526ec446')">
          0xf61546ee65c5c39253af809b69197693526ec446</span>
  </div>
  <div class="example">
    <span class="origin">&bull; EOS holder address</span><br>
    <span class='hyperlink' (click)="select('0x654b464b06c40c3eb6f2f8e3cf5d7ee4e0aa34bf')">
          0x654b464b06c40c3eb6f2f8e3cf5d7ee4e0aa34bf</span>
  </div>
  <div class="example">
    <span class="origin">&bull; OmiseGO holder address</span><br>
    <span class='hyperlink' (click)="select('0x4d6e04fe5d04202f082695e2d201a5c27d88392d')">
          0x4d6e04fe5d04202f082695e2d201a5c27d88392d</span>
  </div>
  <p class="disclaimer">All holder addresses were randomly pulled from etherscan.io.</p>
  <p class="disclaimer">All search requests timeout after 3 seconds; querying an exchange will never work.</p>
</div>
